@model AccountLoginViewModel

<div class="container text-center login-container">
    <style>
        .login-container {
            width: 300px;
            margin: 50px auto;
            padding: 20px;
            border: 2px solid black;
            border-radius: 10px;
        }
        .login-container label {
            display: block;
            margin-bottom: 8px;
        }
        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid black;
            border-radius: 10px;
        }
        .login-container .text-danger {
            margin-bottom: 15px;
        }
    </style>

    <div asp-validation-summary="All" class="text-danger error-all visually-hidden"></div>
    <form asp-action="Login" method="post">
        <div>
            <h2>SIGN IN</h2>
        </div>
        <div>
            <label asp-for="Username"></label>
            <input type="text" class="username validation_required" asp-for="Username">
            <span asp-validation-for="Username" class="text-danger visually-hidden"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="password" class="password validation_required" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger visually-hidden"></span>
        </div>
        <button type="submit" class="submit-btn btn btn-primary btn-lg">Login</button>
        <div style="margin-top: 10px; text-align: center;">
            Not registered yet?
            <a asp-controller="Account" asp-action="Register">Register</a>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Display TempData message as a toast notification if it's available
        @if (TempData["message"] != null)
        {
            <text>
                Toastify({
                    text: '@TempData["message"]',
                    duration: 3000,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "red",
                    stopOnFocus: true
                }).showToast();
            </text>
        }

        // Check for validation errors and display them as toast notifications
        const validationErrors = document.querySelectorAll('.error-all');
        validationErrors.forEach((error) => {
            if (error.textContent.trim() !== '') {
                Toastify({
                    text: error.textContent,
                    duration: 3000,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "red",
                    stopOnFocus: true
                }).showToast();
            }
        });
    });
</script>

<script src="/js/validation.js"></script>
